{% load static %}
{% load base_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid_upd">

    <nav class="nav_upd">

        <a class="brand" href="{% url 'polls' %}">Медиапортал</a>

        <div class="input-group w-50">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Поиск</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="theme">по теме</a>
                    <a class="dropdown-item" href="author">по автору</a>
                    <a class="dropdown-item" href="description">по описанию</a>
                </div>
            </div>
        </div>

        <div class="nav_links">
            <a class="nav-link" href="{% url 'add' %}">Добавть контент</a>
            <a class="nav-link" href="/">Личный кабинет</a>
        </div>
    </nav>

    <main>
        <div class="row">
            <div class="col-2 pr-1">
                <ul class="list-group position-fixed">
                    <li class="item_upd menu_item_main">Тематика:</li>
                        <li class="item_upd menu_item active">
                            <a href="{% url 'polls' %}">Весь контент</a>
                        </li>
                        {% get_tags as tags %}
                        {% for tag in tags %}
                        <li class="item_upd menu_item">
                            <a href="/"> {{ tag.description }} </a>
                        </li>
                        {% endfor %}
                    <li class="item_upd menu_item_main">Источник:</li>
                        {% get_categories as categories %}
                        {% for category in categories %}
                        <li class="item_upd menu_item">
                            <a href="/"> {{ category.type }} </a>
                        </li>
                        {% endfor %}
                    <li class="item_upd menu_item_main">Дата добавления:</li>
                    <li class="item_upd menu_item">Текущий год</li>
                    <li class="item_upd menu_item">Годом ранее</li>
                    <li class="item_upd menu_item">Ещё позднее</li>
                </ul>
            </div>

            <div class="col pt-3">
                {% block promoblock %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>

            <div class="col-3_upd pt-3">
                <div class="card_upd">
                    <div class="card-body_upd">
                        <button type="button" class="btn dark btn-lg btn-block">
                            <span class="badge badge-secondary mr-2">5✪ ! </span><br>Лучшие по рейтингу:
                        </button>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>

                <div class="card_upd">
                    <div class="card-body_upd">
                        <button type="button" class="btn dark btn-lg btn-block">
                            <span class="badge badge-secondary mr-2">New</span><br>Недавно добавлены:
                        </button>

                        {% get_last_content items=2 %}

                    </div>
                </div>

                <div class="card_upd">
                    <div class="card-body_upd">
                        <button type="button" class="btn dark btn-lg btn-block">
                        <span class="badge badge-secondary mr-2">‱</span><br>Самые обсуждаемые:
                        </button>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>