{% extends 'base.html' %}
{% load static %}


{% block promoblock %}

  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="display-4">Место хранения медиа контента</h1>
          <p class="lead">Медиапортал призван классифицировать и упорядочить имеющиеся в распоряжении диспетчерского центра видеоматериалы.</p>
      </div>
  </div>

{% endblock %}


{% block content %}

<div class="card-deck">
  {% for i in object_list %}
    <div class="card">
      <img class="card-img-top" src="{{ i.image.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h5>
        <p class="card-text">{{ i.tagline }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ i.author }}</small>
        <a href="{{ i.link }}" class="text-muted">link</a>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}